body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

#mainHeader1 {
  display: flex;
  justify-content: center;
  align-items: center;

}

#addTaskBtn {
  position: absolute;
  background-color: grey;  
  color: white;
  border: none;
  cursor: pointer;
  border: 3px solid grey;
  margin-left: 330px;
  padding: 8px;
}

.taskInputContainer{
  display: flex;
  justify-content: center;
  
}

#taskInput {
  display: flex;
  flex-direction: row;
  width: 200px;
  height: 30px;
  border: 2px solid black;
  padding: 2px;
  border-radius: 10px;
  outline-width: 1px;
  outline: none;
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#input, #input:focus
{
  border: none;
  text-decoration: none;
  outline: none;
}

#taskInput:focus {
  
}

.note_area {
position: relative;
margin: auto;
margin-top: 20px;
border: 2px solid black;
height: 600px;
width: 800px;
box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

#taskList {
  list-style-type: none;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
}

li {
display: flex;
flex-direction: row;
margin-top: 10px;
}

#task {
display: flex;
flex-direction: row;

}
#taskCheckBox {
margin-right: 10px;
}

#removeTaskButton {
  margin-left: 500px;
}

input.completed {
  text-decoration: line-through;
  color: #999;
}